body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

.avatar{
    width: 180px;  /* Scales width to 300px */
    height: auto;  /* Adjusts height proportionally */
}

.card{
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: left;
    
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 5px solid #d8cefe;
    
}

.description{
    margin-left: 15px;
}
